<h1><%= @society.name %></h1>
<h3>Edit <%= method_name_to_plain_language(params[:method]) %></h3>
<hr>

<form action="/societies/<%= get_slug(@society) %>/<%= params[:method] %>" method="POST">
  <% @method.attribute_names.each do |attribute| %>
    <% unless attribute.include?("id") %>
      <label><%= method_name_to_plain_language(attribute) %></label>
      <textarea name="<%= params[:method] + "[" + attribute + "]" %>" <%= "required" if attribute == "description" %>><%= @method.send(attribute.to_sym) %></textarea>
    <% end %>
  <% end %>
  <br>
  <input type="submit" value="submit">
</form>
<a href="/societies/<%= get_slug(@society) %>/<%= params[:method] %>">Cancel</a>
