<h1><%= @society.name %></h1>
<h3>Conflicts</h3>
<% if current_user(session) == @society.user %>
  <a href="/societies/<%= get_slug(@society) %>/conflicts/<%= @conflict.id %>/edit"><button>Edit</button></a>
  <a href="/societies/<%= get_slug(@society) %>/conflicts/<%= @conflict.id %>/destroy"><button>Destroy</button></a>      
<% end %>
<hr>
<strong>Parties:</strong>
<div>
  <a href="/societies/<%= get_slug(@society) %>/social_groups/<%= @group1.id %>"><%= @group1.name %></a>
  <br>
  <a href="/societies/<%= get_slug(@society) %>/social_groups/<%= @group2.id %>"><%= @group2.name %></a>
</div>
<br><br>
<strong>Description:</strong>
<p><%= @conflict.description %></p>
<br>
<a href="/societies/<%= get_slug(@society) %>">Go Back</a>
