<h1>Conflicts</h1>

<br><br>
<strong>Parties:</strong>
<div>
  <a href="/societies/<%= @society.name + "_" + @society.id.to_s %>/social_groups/<%= @group1.id %>"><%= @group1.name %></a>
  <br>
  <a href="/societies/<%= @society.name + "_" + @society.id.to_s %>/social_groups/<%= @group2.id %>"><%= @group2.name %></a>
</div>
<br><br>
<strong>Description:</strong>
<p><%= @conflict.description %></p>

