<h1><%= @society.name %></h1>
<% if is_logged_in?(session) && current_user(session) != @society.user %>
  <a href="/clone/<%= @society.id.to_s %>"><button>Clone <%= @society.name %></button></a>
<% elsif current_user(session) == @society.user %>
  <a href="/societies/<%= get_slug(@society) %>/edit"><button>Edit</button></a>
  <a href="/societies/<%= get_slug(@society) %>/destroy"><button>Destroy</button></a>
  
<% end %>
<hr>
<% METHODS.each do |method| %>
  <h5><%= method_name_to_plain_language(method) %></h5> 
  <% if @society.send(method) %>
    <div class="row">
      <% if is_logged_in?(session) && current_user(session) != @society.user %>
	<div class="two columns"><a href="/merge/<%= method.to_s %>/<%= @society.send(method).id %>"><small>Merge Data</small></a></div>
      <% else %>
	<div class="two columns"></div>
      <% end %>
      <div class="ten columns">
	<p><%= @society.send(method).description %></p>
	<small><a href="/societies/<%= get_slug(@society) %>/<%= method.to_s %>">view details</a></small>
      </div>
    </div> 
    <br>
  <% else %>
    <div class="row">
      <div class="four columns"></div>
      <div class="eight columns">
	<small>null</small><br>
	<% if current_user(session) == @society.user %>
	  <small><a href="/societies/<%= get_slug(@society) %>/<%= method.to_s %>/new">Add details</a></small>
	<% end %>
      </div>
    </div>  
    <br>
  <% end %>
<% end %>

<h5>Social Groups</h5>
<% if @society.social_groups.first %>
  <% @society.social_groups.each do |social_group| %>
    <div class="row">
      <div class="four columns"></div>
      <div class="eight columns">
	<a href="/societies/<%= @society.name + "_" + @society.id.to_s %>/social_groups/<%= social_group.id %>"><%= social_group.name %></a>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="four columns"></div>
    <div class="eight columns">
      <small>null</small><br>
    </div>
  </div>
<% end %>
<% if @society.user == current_user(session) %>
  <a href="/societies/<%= @society.name + "_" + @society.id.to_s %>/social_groups/new"><button>Create a new Social Group</button></a>
<% end %>
<h5>Conflicts</h5>
<% if @society.conflicts.first %>
  <% @society.conflicts.each do |conflict| %>
    <div class="row">
      <div class="four columns"></div>
      <div class="eight columns">
	  <a href="/societies/<%= @society.name + "_" + @society.id.to_s %>/conflicts/<%= conflict.id %>"><%= SocialGroup.find(conflict.group_1_id).name + " //\\\\ " + SocialGroup.find(conflict.group_2_id).name %></a>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="four columns"></div>
    <div class="eight columns">
      <small>null</small><br>
    </div>
  </div> 
<% end %>
<% if @society.user == current_user(session) %>
  <a href="/societies/<%= @society.name + "_" + @society.id.to_s %>/conflicts/new"><button>Add a Conflict</button></a>
<% end %>
