<h1><%= @society.name %></h1>
<hr>
<% METHODS.each do |method| %>
  <h5><%= method.to_s.split("_").map(&:capitalize).join(" ") %></h5> 
  <% if @society.send(method) %>
    <div class="row">
      <div class="two columns"></div>
      <div class="ten columns">
	<p><%= @society.send(method).description %></p>
	<small><a href="/societies/<%= @society.name + "_" + @society.id.to_s %>/<%= method.to_s %>">view details</a></small>
      </div>
    </div> 
    <br>
  <% else %>
    <div class="row">
      <div class="four columns"></div>
      <div class="eight columns">
	<small>null</small><br>
	<% if current_user(session) == @society.user %>
	  <small><a href="/societies/<%= @society.name + "_" + @society.id.to_s %>/<%= method.to_s %>/new">Add details</a></small>
	<% end %>
      </div>
    </div>  
    <br>
  <% end %>
<% end %>

<h5>Social Groups</h5>
<% if @society.social_groups.first %>
  <% @society.social_groups.each do |social_group| %>
    <p><a href="/societies/<%= @society.name + "_" + @society.id.to_s %>/social_groups/<%= social_group.id %>"><%= social_group.name %></a></p>
  <% end %>
<% else %>
  <small>null</small><br>
<% end %>
<% if @society.user == current_user(session) %>
  <a href="/societies/<%= @society.name + "_" + @society.id.to_s %>/social_groups/new"><button>Create a new Social Group</button></a>
<% end %>
