<h1><%= @society.name %></h1>
<hr>
<% METHODS.each do |method| %>
  <h5><%= method.to_s.split("_").map(&:capitalize).join(" ") %></h5> 
  <% if @society.send(method) %>
    <div class="row">
      <div class="two columns"></div>
      <div class="ten columns">
	<p><%= @society.send(method).description %></p>
	<small><a href="/societies/<%= @society.name + "_" + @society.id.to_s %>/<%= method.to_s %>">view details</a></small>
      </div>
    </div> 
    <br>
  <% else %>
    <div class="row">
      <div class="four columns"></div>
      <div class="eight columns">
	      <small>null</small><br>
	<small><a href="/societies/<%= @society.name + "_" + @society.id.to_s %>/<%= method.to_s %>/new">Add details</a></small>
      </div>
    </div>  
    <br>
  <% end %>
<% end %>
<p><%= session.keys %></p>
