<h1>Clone</h1>
<h3><%= @society.name %></h3>
<hr>
<strong>This will create a new instance of this society (<%= @society.name %> by <%= @society.user.username %>) that you can edit</strong>
<form action="/clone/<%= params[:society_id] %>" method="post">
  <input type="hidden" name="society[name]" <%= "value=\"#{@society.name}\"" if @society.name %>>
  <input type="hidden" name="society[user_id]" value="<%= session[:user_id] %>">
  <input type="submit" value="submit">
</form>
