<h1>Merge</h1> 

<form action="/merge/<%= params[:method] %>" method="POST">
  <% @method.attribute_names.each do |attribute| %>
    <% unless attribute.include?("id") %>
      <label><%= method_name_to_plain_language(attribute) %></label>
      <textarea name="<%= params[:method] + "[" + attribute + "]" %>"><%= @method.send(attribute.to_sym) %></textarea>
    <% end %>
  <% end %>
  <br>
  <label>Select one of your societies to merge with (this will overwrite data in this category)</label>
  <select name="<%= params[:method] %>[society_id]">
  <% current_user(session).societies.each do |society| %>
    <option value="<%= society.id %>"><%= society.name %></option>
  <% end %>
  </select>
  <br>
  <input type="hidden" value="<%= @method.id %>" name="old_method_id">
  <input type="submit" value="submit">
</form>
<a href="/societies/<%= get_slug(@method.society) %>/<%= params[:method] %>">Cancel</a>
