<h1>Merge</h1> 

<form action="/merge/<%= params[:method] %>" method="POST">
  <% @method.attribute_names.each do |attribute| %>
    <% unless attribute.include?("id") %>
      <label><%= attribute.split("_").map(&:capitalize).join(" ") %></label>
      <textarea name="<%= params[:method] + "[" + attribute + "]" %>"><%= @method.send(attribute.to_sym) %></textarea>
    <% end %>
  <% end %>
  <br>
  <label>Select one of your societies to merge with (this will overwrite data in this category)</label>
  <select name="method[society_id]">
  <% current_user(session).societies.each do |society| %>
    <option value="<%= society.id %>"><%= society.name %></option>
  <% end %>
  </select>
  <br>
  <input type="submit" value="submit">
</form>
<a href="/societies/<%= @method.society.name + "_" + @method.society.id.to_s %>/<%= params[:method] %>">Cancel</a>
